<%= form_for @generation do |f| %>
	<p>
		Nombre:
		<%= f.text_field :name %>
	</p>

	<p>
		Fecha de Inicio
		<%= f.text_field :start_date, class: "datepicker" %>
	</p>

	<%= f.submit "Guardar" %>	
<% end %>